.my-caption{
    background: rgba(0,0,0,0,1);
    bottun:200px;
    padding-left: 20px;
    padding-right: 20px;
}
.h-100{height: 100px;}
.h-150{height: 150px;}
.h-200{height: 200px;}
.h-250{height: 250px;}
.h-165{height: 165px;}
.h-300{height: 300px;}
.h-50{height: 50px!important;}

.p-size {font-size: 14px ;}

@media screen and (max-width: 700px){
    .menu-position
    {
        position: relative;
        bottom: 50px;
        left: 430px;
    }
}
@media screen and (max-width: 600px){
    .menu-position
    {
        position: relative;
        bottom: 50px;
        left: 390px;
    }
    .right-position
    {
        float:none!important;
        margin-left: 35%;
    }
    .left.position
    {
        margin-left: 13% ;

    }
}


